body,td,th {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#555;
}
body {
	position:relative;
	margin: 0px;
	padding: 0px;
}
.notes{
	text-align:center;
	padding:5px;
	font-size:14px;
	font-weight:bold;
}
h1{
	margin:5px 0;
}
#touchme1, #touchme2, #touchme3, #touchme4, #touchme5, #touchme6 {
	cursor: move;
	position:relative;
	z-index:50;
}

.droppedBox
{
    width: 50px;
	height:50px;
	margin: 10px;
	background-color: green;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	text-align: center;   
}

.touchBox {
	width: 45px;
	height:50px;
	margin: 10px;
	background-color:#999;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	text-align: center;
}
.largetouchbox b, .dropArea b{
	line-height: 40px;
}
.largetouchbox span{
	display:block;
	text-align:center;
	font-size: 10px;
	line-height:40px;
}
.dropArea{
	position:relative;
	width:70px;
	height:70px;
	background:#eee;
	border:#777 dashed 3px;
	text-align:center;
}
.dhover{
	border:#f66 dotted 3px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 38px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */